name: PR Checks

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install
      - name: Install Playwright Browsers
        run: pnpm --filter @feedback-forge/payload-plugin exec playwright install --with-deps
      - name: Lint
        run: pnpm lint
      - name: Test
        run: pnpm test
